<h1>Rating</h1>
<button (click)="changRate(0)" style="width: 40px;height: 40px" [style.background]="rate[0]">
  <img src="https://cdn3.iconfinder.com/data/icons/gray-toolbar-4/512/thumb_down-512.png" style="width: 20px;height: 20px">
</button>
<button (click)="changRate(1)"  style="width: 40px;height: 40px" [style.background]="rate[1]">
  <img src="https://icon-library.net/images/star-rating-icon/star-rating-icon-3.jpg" style="width: 20px;height: 20px">
</button>
<button (click)="changRate(2)" style="width: 40px;height: 40px" [style.background]="rate[2]">
  <img src="https://icon-library.net/images/star-rating-icon/star-rating-icon-3.jpg" style="width: 20px;height: 20px">
</button>
<button (click)="changRate(3)" style="width: 40px;height: 40px" [style.background]="rate[3]">
  <img src="https://icon-library.net/images/star-rating-icon/star-rating-icon-3.jpg" style="width: 20px;height: 20px">
</button>
<button (click)="changRate(4)" style="width: 40px;height: 40px" [style.background]="rate[4]">
  <img src="https://icon-library.net/images/star-rating-icon/star-rating-icon-3.jpg" style="width: 20px;height: 20px">
</button>
<button (click)="changRate(5)" style="width: 40px;height: 40px" [style.background]="rate[5]">
  <img src="https://icon-library.net/images/star-rating-icon/star-rating-icon-3.jpg" style="width: 20px;height: 20px">
</button>
<button (click)="changRate(6)" style="width: 40px;height: 40px" [style.background]="rate[6]">
  <img src="https://icon-library.net/images/star-rating-icon/star-rating-icon-3.jpg" style="width: 20px;height: 20px">
</button>
<button (click)="changRate(7)" style="width: 40px;height: 40px" [style.background]="rate[7]">
  <img src="https://icon-library.net/images/star-rating-icon/star-rating-icon-3.jpg" style="width: 20px;height: 20px">
</button>
<button (click)="changRate(8)" style="width: 40px;height: 40px" [style.background]="rate[8]">
  <img src="https://icon-library.net/images/star-rating-icon/star-rating-icon-3.jpg" style="width: 20px;height: 20px">
</button>
<button (click)="changRate(9)" style="width: 40px;height: 40px" [style.background]="rate[9]">
  <img src="https://icon-library.net/images/star-rating-icon/star-rating-icon-3.jpg" style="width: 20px;height: 20px">
</button>
<button (click)="changRate(10)" style="width: 40px;height: 40px" [style.background]="rate[10]">
  <img src="https://icon-library.net/images/star-rating-icon/star-rating-icon-3.jpg" style="width: 20px;height: 20px">
</button>
